<?xml version="1.0" ?>
<robot name="Webots">
    <webots>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>True</enabled>
            <updateRate>200</updateRate>
            <topicName>/imu</topicName>
            <alwaysOn>True</alwaysOn>
            <frameName>imu</frameName>
            <inertialUnitName>imu</inertialUnitName>
            <gyroName>gyr</gyroName>
            <accelerometerName>acc</accelerometerName>
        </plugin>
        <plugin type="simulator.robot_driver.main" />
    </webots>
</robot>
